<body>
  <div class="w-section home-hero flx">  
    <div class="w-container hero-cont">
      <div>
        <h1 class="hero-header">FLx</h1>
        <h2 class="hero-subheader">A wearable exoskeleton for the active worker.</h2>
      </div>
    </div>
    <div class="prod-btn"><a class="button product flx-btn" href=<%=asset_path("FLx.pdf")%> target="_blank">DOWNLOAD THE PRESENTATION</a>
    </div>
  </div>
  <div class="w-section flx-sect-1"></div>
  <div class="w-section flx-sect-2">
    <div class="w-container flx-txt-cont">
      <%= image_tag "flx-twisting.png" %>
    </div>
  </div>
  <div class="w-section flx-sect-3">
    <div class="w-container">
      <%= image_tag "tech-2.png" %>
    </div>
  </div>
  <div class="w-section flx-sect-2">
    <div class="w-container flx-txt-cont">
      <%= image_tag "flx-nfs.png" %>
    </div>
  </div>
  <div class="w-section flx-sect-4">
    <div class="w-container">
      <%= image_tag "flx-graph.png" %>
    </div>
  </div>
  <div class="w-section flx-sect-8">
    <div class="w-container">
      <%= image_tag "SA-technical-11.png" %>
    </div>
  </div>
  <div class="w-section flx-sect-9">
    <div class="w-container">
      <%= image_tag "SA-technical-12.png" %>
    </div>
  </div>
  <div class="w-section flx-sect-5">
    <div class="w-container">
      <%= image_tag "MVP-strongarm-web.jpg", class: "flx-product" %>
    </div>
  </div>
  <div class="w-section flx-sect-7">
    <div class="w-container">
      <%= image_tag "flx-conditioning.png" %>
    </div>
  </div>
</body>  