<div class="footer">
  <div class="w-container footer-cont">
    <div class="footer-div">
      <%= image_tag "logo.png", :class=>"footer-logo" %>
      <div class="w-row footer-row">
        <div class="w-col w-col-4">
          <div class="footer-content">
            <div class="footer-txt-head">Content</div>
            <a class="w-inline-block footer-link" href="/flx">
              <div class="footer-txt">FLx</div>
            </a>
            <a class="w-inline-block footer-link" href="/v22">
              <div class="footer-txt">V22</div>
            </a>
            <a class="w-inline-block footer-link" href="/ergohug">
              <div class="footer-txt">ErgoHug</div>
            </a>
            <a class="w-inline-block footer-link" href="/process">
              <div class="footer-txt">Process</div>
            </a>
            <a class="w-inline-block footer-link" href="/about">
              <div class="footer-txt">About</div>
            </a>
          </div>
        </div>
        <div class="w-col w-col-4">
          <div class="footer-content">
            <div class="footer-txt-head">Follow Us</div>
            <a class="w-inline-block footer-link" href="http://instagram.com/strongarmtech" target="_blank">
              <div class="footer-txt">Instagram</div>
            </a>
            <a class="w-inline-block footer-link" href="https://twitter.com/StrongArmTech" target="_blank">
              <div class="footer-txt">Twitter</div>
            </a>
            <a class="w-inline-block footer-link" href="https://www.youtube.com/user/StrongArmTech/videos" target="_blank">
              <div class="footer-txt">YouTube</div>
            </a>
            <a class="w-inline-block footer-link" href="/newsletter_emails/new">
              <div class="footer-txt">Updates</div>
            </a>
          </div>
        </div>
        <div class="w-col w-col-4">
          <div class="footer-content">
            <div class="footer-txt-head">Downloads</div>
            <a class="w-inline-block footer-link" href=<%=asset_path("manual_r3_25.pdf")%> target="_blank">
              <div class="footer-txt">V22 Manual</div>
            </a>
            <a class="w-inline-block footer-link" href=<%=asset_path("ErgoHug_2014.pdf")%> target="_blank">
              <div class="footer-txt">ErgoHug 2014</div>
            </a>
            <a class="w-inline-block footer-link" href=<%=asset_path("SA_Fit_Card-1.pdf")%> target="_blank">
              <div class="footer-txt">Fit Card</div>
            </a>
          </div>
        </div>
      </div>
      <div class="footer-div">
        <div><a class="button login-btn" href="/admins/sign_in">Login</a>
        <div class="copyright footer-div">©&nbsp;<%= Time.now.year %> Strong Arm Technologies, Inc.</div>
      </div>
    </div>
  </div>
</div>