<%= form_for(@newsletter_email) do |f| %>
  <% if @newsletter_email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newsletter_email.errors.count, "error") %> prohibited this newsletter_email from being saved:</h2>

      <ul>
      <% @newsletter_email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

        <div class="modal-window">
          <div class="modal-width-div">
            <div class="login-logo">
              <%= image_tag "logo_1.png" %>
            </div>
            <%= f.text_field :first_name, :class => "login-field name-field", placeholder: "FIRST NAME", required: true, autofocus: true %> 
            <%= f.text_field :email, :class => "login-field email-field", placeholder: "EMAIL ADDRESS", required: true %>           
            <%= f.submit 'SIGN UP', :class => "button login-btn" %>
          </div>
        </div>
      
<% end %>
