<h1 class="dash-header dash-txt">Mailing List Emails</h1>
<div class="w-section sect-csv">
  <div class="w-container">
    <%= link_to 'Download CSV', newsletter_emails_path(format: :csv), class: "csv-txt" %>
  </div>
</div>

<div class="w-section sect-dash">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-3 dash-txt">First Name</div>
      <div class="w-col w-col-5 dash-txt">Email</div>
      <div class="w-col w-col-2 dash-txt">Date Added</div>
      <div class="w-col w-col-1"></div>
      <div class="w-col w-col-1"></div>
    </div>
  </div>

  <div class="w-container">
    <% @newsletter_emails.each do |newsletter_email| %>
      <div class="w-row">
        <div class="w-col w-col-3 dash-txt"><%= newsletter_email.first_name %></div>
        <div class="w-col w-col-5 dash-txt"><%= newsletter_email.email %></div>
        <div class="w-col w-col-2 dash-txt"><%= newsletter_email.created_at.to_date %></div>
        <div class="w-col w-col-1"><%= link_to 'Show', newsletter_email %></div>
        <div class="w-col w-col-1"><%= link_to 'Edit', edit_newsletter_email_path(newsletter_email) %></div>
      </div>
    <% end %>
  </div>
</div>